.link_icon {
    margin-left: 45px;
    margin-right: 19px;
}
.social_icon {
    margin-top: 10px;
}
.custom {
    display:flex;
    justify-content:space-around;
}
.link2_icon {
    margin-left: 45px;
}
.contact_icon {
    margin-top: 18px;
}
#banner:after {
    opacity: .55;
}
#two .inner {
    display:flex;
}
#two .inner img {
    width: 200px;
}
.bio {
    font-size: smaller;
}
#main > * > .inner {
    padding: 2em 0 2em 0;
}
